<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Administrate App</title>
	<!-- Importing bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<meta name ="viewport" content="width = device-width, initial-scale=1">

	</script>
</head>
 
<body>
	<div class="container">
		<div class="page-header">
			<h1> Edit contact</h1>
		</div>
		</div>
	<div class="container">	
	<!-- Form that gets information to edit posts -->
		<form method="POST" action="">
			<div class=form-group">
				Organisation<input type="text" name="organisation" class="form-control" />
				<br>
				Name<input type="text" name="name" class="form-control" />
				<br>
				Email<input type="email" name="email" class="form-control" />
				<br>		
				Phone number<input type="number" name="phonenumber" class="form-control" />
				<br>
				<input  type="submit" class="btn btn-primary">
	<!-- Cancel button that takes us to index -->
				<a href="/" class="btn btn-primary">Cancel</a>
			</div>
		</form>
    </div>
</body>
 
</html>